

.button{
    background-color: var(--color-background);
    color: var(--color-primary);
    border: solid 0.01px var(--color-primary);
    padding: 5px;
    margin: 0;
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

.button:hover {
    box-shadow: 0px 0px 3px 0.5px var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-background);
    cursor: pointer;
}


/* --- TAMAÑOS --- */
.small {
  padding: 8px 12px;
  font-size: 0.85rem; /* Letra pequeña y elegante */
}

.medium {
  padding: 12px 16px;
  font-size: 1rem;
}

/* --- TIPOS (HOVER) --- */
.normal:hover {
  background-color: var(--color-primary); /* Gris suave */
}

.accept:hover {
  background-color: #2ba640; /* Verde */
}

.alert:hover {
  background-color: #cc0000; /* Rojo */
}

/* --- SEPARADOR --- */
.divider {
  border: 0;
  border-top: 1px solid #444;
  margin: 6px 0;
  width: 100%;
}
