:root {
    --color-background: black;
    --color-primary: white;
    --loading-overlay-bg: var(--color-background);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-background) !important;
    font-family: "Saira Stencil", sans-serif;
}
