
.title{
    color: var(--color-primary);
    font-size: clamp(3rem, 7vw, 9rem);
}

.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
